/* Add this to your CSS */
.animated-text {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Add a text shadow */
}

.pop-out {
  animation: pop-out 0.5s ease both;
}

.pop-in {
  animation: pop-in 0.5s ease both;
}

@keyframes pop-out {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(2);
    opacity: 0;
  }
}

@keyframes pop-in {
  0% {
    transform: scale(2);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

html {
  overflow: hidden;
}
