* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
}

html {
  overflow: hidden;
}

body {
  height: 100vh;
  width: 100vw;

  display: flex;
  flex-direction: column;
}

#imgContainer {
  min-height: 50vh;
  max-height: 50vh;
  aspect-ratio: 1/1;
  overflow: hidden;
  object-fit: fill;
  display: grid;

  border-top: 1em solid transparent;
  border-radius: 8px 8px 0 0;
  margin-bottom: 16px;
}

#imgContainer img {
  grid-area: 1 / 1 / 2 / 2;
  max-width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
}

#buttonContainer {
  grid-area: 1 / 1 / 2 / 2;

  height: 100%;

  z-index: 9;

  display: flex;
  justify-content: center;
  align-items: center;
}

#buttonContainer button {
  height: 10%;
  width: 50%;
}

main {
  margin: 0 auto;

  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

form {
  width: 100%;
  height: 3em;

  display: flex;
  justify-content: space-between;
}

form input:nth-child(1) {
  font-size: 1.5em;
  height: 100%;
  width: 88%;
  padding-left: 8px;
}
form input:nth-child(2) {
  font-size: 1.5em;
  height: 100%;
  width: 10%;
  border: none;
}
