* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "JetBrains Mono", monospace;
  color: #ffffff;
}
body {
  height: 100vh;
  width: 100vw;
  background-color: #1e2124;
}

main {
  height: 85%;
  padding-top: 16px;
}

footer {
  height: 5%;
  background-color: navy;
  padding: 20px;
}

/* #1e2124
#232d45
#413360
#712f6c
#a31e63
#ca1046 */
