header {
  padding: 20px;
  background-color: navy;
}

nav {
  font-size: 2rem;
  text-align: center;
}

nav a {
  text-decoration: none;
  padding: 20px;
  color: gold;
}
a:hover {
  color: fuchsia;
}
