main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  opacity: 0;
  overflow: scroll;
}

main::-webkit-scrollbar {
  display: none;
}

table {
  margin: 0px auto;
  width: 50%;
  border: none;
  border-collapse: collapse;
}

th,
td {
  padding: 16px;
  text-align: center;
}

th {
  background-color: #1e2124;
}

tr {
  opacity: 0;
}

#tableTitle {
  font-size: 32px;
}
