html {
  max-height: 100vh;
  max-width: 100vw;
  background-color: red;

  overflow: hidden;
}

body {
  margin: 0;
  padding: 0;
  text-align: center;
}

h1 {
  color: palevioletred;
}

input {
  color: black;
}

#svg-container {
  height: 100vh;
  width: 100vw;
}
